@import "fonts.css";

:root {
  --primary: #47b4a9;
  --secondary: #033545;
  --text: #12446e;
  --text-secondary: #425762;
  --btn-hover: #39968b;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/*--------------------------Tipografy-------------------------*/

h1,
p.h1 {
  font-family: "Roboto";
  font-size: 2.2rem;
  font-weight: 900;
  color: var(--text);
}

h3,
p.h3 {
  font-family: "Roboto";
  font-size: 1.8rem;
  font-weight: 300;
  font-style: italic;
  color: var(--text);
}

a,
span,
p,
div,
input,
button,
textarea {
  font-size: 1rem;
  font-family: "Roboto";
  color: var(--text-secondary);
}

/*--------------------------Utilitys-------------------------*/

img {
  max-width: 100%;
}

.btn.btn-primary {
  background: var(--primary);
  color: #fff;
  border: solid 1px #fff;
  padding: 13px 24px;
  font-size: 1.3rem;
  border-radius: 30px;
  font-weight: 400;
  line-height: 1;
  transition: ease-in-out 0.2s;
}

.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus {
  box-shadow: none !important;
  color: #fff !important;
  border-color: #fff !important;
  background-color: var(--btn-hover) !important;
  transition: ease-in-out 0.3s;
}

.italic {
  font-style: italic;
}

.subtitleBorder {
  border-bottom: solid 2px var(--text);
  width: 7%;
}

/*---------------------------Nav-Bar-------------------------*/

html {
  scroll-behavior: smooth;
}

header {
  height: 70px;
  padding: 16px 0px;
  box-sizing: border-box;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 10;
  border-bottom: solid 3px var(--primary);
}
header .container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
}
header a.logo {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  height: 100%;
}
header a.logo img {
  max-height: 100%;
}
header nav {
  display: flex;
  flex-direction: row;
}
header nav a {
  padding: 0 15px;
  border-radius: 10px;
  transition: all ease 300ms;
  color: #3d5763;
}
header nav a:hover {
  font-weight: 900;
  text-decoration: none;
  color: var(--text-secondary);
}
#burger {
  display: none;
  height: 30px;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
}
#burger div {
  width: 100%;
  height: 5px;
  background-color: #3e5763;
  border-radius: 10px;
}

/*---------------------------Header--------------------------*/

#header {
  padding: 70px 0px 0px;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-image: url("../images/header.jpg");
  background-position: 0 30%;
  background-size: cover;
  background-repeat: no-repeat;
}

section#header p,
section#header span {
  color: #fff;
}

section#header p.h1 {
  font-size: 2.8rem;
  margin-bottom: 5vh;
  color: #fff;
  line-height: 27px;
}

section#header p.h1:first-of-type span {
  font-size: 1.5rem;
  font-weight: 500;
}

section#header p.h1:last-of-type {
  margin-bottom: 4vh;
  line-height: 45px;
  font-style: italic;
  font-weight: 700;
}

#header div#whatsappBtn {
  position: fixed;
  bottom: 0;
  right: 15px;
  width: auto;
  padding: 0;
  z-index: 10;
}

#header div#whatsappBtn a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#header div#whatsappBtn a:hover {
  text-decoration: none;
}

#header div#whatsappBtn button {
  background: #39b44a;
  border-radius: 100%;
  padding: 10px;
  border: none;
  position: relative;
  z-index: 1;
  animation: brickBtn 6s infinite;
}

#header div#whatsappBtn button:focus {
  outline: none;
}

#header div#whatsappBtn button img {
  width: 40px;
}

#header div#whatsappBtn a span {
  background: var(--primary);
  padding: 6px 10px;
  font-size: 14px;
  margin-top: -6px;
}

#subHeader {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 45px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

#subHeader #waterHolder {
  position: absolute;
  min-height: 850px;
  width: 100%;
  z-index: 0;
}

#subHeader #waterHolder canvas {
  min-height: 850px;
  width: 100%;
}

#subHeader .container {
  width: 90%;
  background: #00000060;
  margin: 50px auto;
  max-width: 1200px;
  position: relative;
  z-index: 1;
}

#subHeader .col-left {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0;
}

#subHeader .col-left img {
  height: auto;
  width: 100%;
}

#subHeader .col-right {
  padding: 26px 20px;
}

#subHeader .col-right img {
  height: auto;
  width: 50%;
  margin-bottom: 20px;
}

#subHeader .col-right p,
#subHeader .col-right li,
#subHeader .col-right span {
  color: #fff;
}

#subHeader .col-right p:first-of-type {
  font-size: 1.8rem;
  font-style: normal;
  margin-bottom: 16px;
}

#subHeader .col-right p:nth-of-type(2) {
  margin-bottom: 16px;
  line-height: 21px;
}

#subHeader .col-right ul {
  margin: 0 0 20px 20px;
  line-height: 24px;
  font-size: 1.1rem;
}

#subHeader .col-right p:last-of-type {
  margin-bottom: 30px;
  line-height: 21px;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
}

/*---------------------------project-------------------------*/

section#project {
  position: relative;
  z-index: 1;
  background: #fff;
  padding-top: 30px;
}

#project .projectText {
  padding-left: 8vh;
  padding-top: 16vh;
}

#project .projectText p:not(.h1) {
  font-size: 1.1rem;
}

#project .projectText p.paragraph {
  margin-bottom: 35px;
  line-height: 30px;
  font-size: 1.1rem;
}

/*---------------------------location-------------------------*/

#location p {
  position: absolute;
  margin: 0;
  z-index: 1;
}

#location .container-highView{
  max-width: 100%;
  overflow: hidden;
}

#location p.views {
  right: 2%;
  font-size: 1.1rem;
  top: 5%;
}

#location p.paragraph {
  left: 8%;
  top: 16%;
  font-size: 1.8rem;
  font-weight: 600;
}

/*--------------------------Units---------------------------*/

#units {
  padding: 85px 0;
  background: #fff;
  position: relative;
  z-index: 1;
}

#units .fancyImgBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 15px;
  margin-top: 40px;
  margin-bottom: 70px;
}

#units .fancyImgBox .fancyImgItem {
  border: solid 4px var(--primary);
  padding: 30px 0 55px;
  position: relative;
  overflow: hidden;
}

#units .fancyImgItem img.thumbnail {
  transition: ease-in-out 0.5s;
}

#units .fancyImgItem:hover img.thumbnail {
  transform: scale(1.05);
  transition: ease-in-out 0.5s;
}

#units .fancyImgBox .iconImg img {
  height: 28px;
  transition: ease-in-out 0.3s;
}

#units .fancyImgBox .iconImg:hover img {
  transform: translateY(-3px);
  transition: ease-in-out 0.3s;
}

#units .fancyImgBox .iconImg {
  position: absolute;
  bottom: 7px;
  right: 7px;
  padding: 8px;
  border-radius: 13px;
}

#fancybox-wrap {
  padding-right: 0;
}

.fancybox-button, .fancybox-button:link, .fancybox-button:visited{
  color: #fff;
  width: 55px;
  height: 55px;
}
.fancybox-button:hover{
  color: #ccc;
}

.fancybox-button.fancybox-button--arrow_right, .fancybox-button.fancybox-button--arrow_left{
  width: 80px;
  height: 110px;
}

.fancybox-button>div {
  color: #fff;
}
.fancybox-button:hover>div {
  color: #ccc;
}

#units .information {
  padding-left: 10px;
}

#units p.titleFancyBox {
  margin: 15px 0 0px;
  font-size: 1.6rem;
}

#units p.subTitleFancyBox {
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 2px;
}

#units ul.listFancyBox {
  padding-left: 20px;
  font-size: 0.8rem;
  line-height: 1.4rem;
}

/*----------------------units-carousels--------------------*/

section#unitsCarousel .owl-nav button {
  position: absolute;
  top: 34.5%;
  z-index: 10;
}

#unitsCarousel .owl-nav button:focus {
  outline: none;
}

#unitsCarousel .owl-nav button.owl-prev {
  left: 15px;
}

#unitsCarousel .owl-nav button.owl-next {
  right: 15px;
}

#unitsCarousel .owl-nav span {
  color: #fff;
  font-size: 6rem;
}

#unitsCarousel .owl-dots {
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

section#unitsCarousel .owl-dots button {
  width: 13px;
  height: 13px;
  background: #ffffffb0;
  margin: 0 5px;
  border-radius: 100%;
}

section#unitsCarousel .owl-dots button.active {
  background: #fff;
}

section#unitsCarousel .owl-dots button:focus {
  outline: none;
}

/*------------------------Amenities-----------------------*/

section#amenities .facilities {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#amenities .item, #rental .rental .item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#amenities .item img, #rental .rental .item img {
  width: 100px;
}

#amenities .item p, #rental .rental .item p {
  text-align: center;
  font-size: 1rem;
  line-height: 18px;
  margin-top: 8px;
}

#rental {
  background: #f2f2f2;
  padding: 150px 0 100px;
  margin-top: 100px;
}

#rental .rental .paragraph p {
  color: var(--text);
}

#rental .rental .paragraph p:nth-child(2) {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

#rental .rental .paragraph p:last-child {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 26px;
  color: var(--text-secondary);
  margin-bottom: 40px;
}

#rental .rental .rentalImg {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#rental .rental .rentalImg .item {
  align-items: flex-start;
}

#rental .rental .rentalImg p {
  width: fit-content;
}

#rental .rental .rentalImg .item:first-child p {
  margin-left: 15px;
}
#rental .rental .rentalImg .item:nth-child(2) p {
  margin-left: 22px;
}
#rental .rental .rentalImg .item:last-child p {
  margin-left: 10px;
}

/*--------------------------Contact-----------------------------*/

#contacto {
  min-height: 100vh;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

section#contacto:before {
    content: "";
    min-height: 100vh;
    width: 100%;
    background: #00000060;
    position: absolute;
    z-index: 1;
}

#contacto #waterHolder1 {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  z-index: 0;
}

#contacto #waterHolder1 canvas {
  width: 100%;
  min-height: 100vh;
}

#contacto .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

#contacto p,
#contacto a,
#contacto h3 {
  color: #fff;
}

#contacto .left form .form-control {
  background-color: #ffffffd6;
  transition: all ease-in-out 0.3s;
  height: calc(1.5em + .75rem + 12px);
}

#contacto .left form textarea.form-control{
  height: auto;
  resize: none;
}

#contacto .left form .form-control:focus {
  background-color: #ffffff;
}

#contacto .left form button {
  width: 40%;
  margin-top: 15px;
}

#contacto .left p {
  font-size: 2.8rem;
  margin-bottom: 35px;
}

#contacto .left h3 {
  text-align: left;
  min-height: 368px;
  padding-top: 70px;
  font-size: 1.5rem;
}

#contacto .right,
#contacto .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contacto .right p,
#contacto .right a {
  text-align: center;
}

#contacto .right a:hover {
  text-decoration: none;
}

#contacto .right img {
  width: 35px;
  transform: translateY(-4px);
}

.footer > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}

.footer img {
  height: 30px;
  padding: 0 20px;
}

#contacto .container .row:not(.footer) {
  padding-top: 100px;
}

/*---------------------Querys--------------------*/


@media (max-width: 1199.98px) { 
  :root{
    font-size: 14px;
  }
  #subHeader .col-right img, #subHeader p{
    margin-bottom: 10px!important;
  }
  #project .projectText {
    padding-left: 0;
    padding-top: 0;
  }
}

@media (max-width: 991.98px) {
  :root {
    font-size: 12px;
  }
  header {
    height: 50px;
    padding: 10px 0;
  }
  header nav {
    opacity: 0;
    transform: translateY(-200px);
    transition: cubic-bezier(1, 0, 1, 1) .8s
  }
  header nav.show {
    opacity: 1;
    transform: translateY(0);
    transition: cubic-bezier(0, -0.01, 0.17, 1) 1s
  }
  header nav {
    position: absolute;
    top: 100%;
    flex-direction: column;
    background: #ffffffe6;
    height: auto;
    width: 100%;
    left: 0;
    border-bottom: solid 3px var(--primary);
    z-index: 1;
  }
  header nav a {
    border-top: solid 3px var(--primary);
    width: 100%;
    box-sizing: border-box;
    border-radius: 0px;
    text-align: center;
    font-size: 1.2rem;
    padding: 8px 15px;
  }
  #burger {
    display: flex;
  }
  #header {
    background-position: top;
  }
  #header div#whatsappBtn button img {
      width: 30px;
  }
  #subHeader, #subHeader .container, #subHeader .col-left, #subHeader .col-right {
    min-height: auto;
  }
  #subHeader #waterHolder {
    width: auto;
  }
  #subHeader #waterHolder canvas {
    width: auto;
  }
  #location p.paragraph {
    font-size: 1.6rem;
  }
  #units ul.listFancyBox {
    font-size: 1rem;
  }
  #amenities .item img, #rental .rental .item img {
    width: 80px;
  }
  #amenities .item p, #rental .rental .item p {
    font-size: 1.2rem;
    line-height: 20px;
  }
  #rental {
    background: #f2f2f2;
    padding: 20px 0 100px;
    margin-top: 50px;
  }
  #rental .rental {
    margin: 100px 0;
  }
  #rental .rental .rentalImg .item:first-child p {
    margin-left: 6px;
  }
  #rental .rental .rentalImg .item:nth-child(2) p {
    margin-left: 12px;
  }
  #rental .rental .rentalImg .item:last-child p {
    margin-left: 0px;
  }

}

@media (max-width: 767.98px) {
  #project .projectText {
    padding-left: 15px;
    padding-top: 30px;
  }
  #location p.paragraph {
    font-size: 1.2rem;
  }
  #units .fancyImgBox {
    grid-template-columns: 1fr;
  }
  #units .fancyImgBox div.fancyBox:not(:first-child) {
    padding-top: 50px;
  }
  .fancybox-button, .fancybox-button:link, .fancybox-button:visited{
    width: 45px;
    height: 45px;
  }
  .fancybox-button.fancybox-button--arrow_right, .fancybox-button.fancybox-button--arrow_left{
    width: 70px;
    height: 100px;
  }
  #rental .imgRental{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;
    align-items: center;
  }
  #contacto .container .row:not(.footer) {
    padding-top: 0px;
  }
  #contacto .right, #contacto .left {
    padding-top: 50px;
  }
  #contacto .right p, #contacto .right a {
    text-align: left;
  }
  #contacto .right a{
    margin-bottom: 40px;
  }
  #contacto .right img {
    width: 25px;
  }
  #units {
    padding: 70px 0 0;
  }
  #location {
    padding: 43px 0 0;
  }
  #contacto {
    padding: 10px 0 0;
  }
  .footer img {
    height: 30px;
  }
}

@media (max-width: 575.98px) {
  h1, p.h1 {
    font-size: 2rem;
  }
  h3, p.h3 {
    font-size: 1.4rem;
    font-weight: 300;
  }
  .subtitleBorder {
    width: 20%;
  }
  section#header p.h1 {
    font-size: 2rem;
    line-height: 20px;
  }
  section#header p.h1:last-of-type {
    line-height: 24px;
  }
  #header div#whatsappBtn button {
    padding: 6px;
  }
  #header div#whatsappBtn button img {
    width: 24px;
  }
  #header div#whatsappBtn a span {
    padding: 3px 7px;
    font-size: 1rem;
  }
  #project .projectText p.paragraph {
    line-height: 20px;
  }
  #location p.paragraph {
    font-size: 1.1rem;
    line-height: 18px;
  }
  #units .fancyImgBox {
    margin-bottom: 30px;
  }
  #unitsCarousel .owl-dots {
    bottom: 5px;
  }
  #unitsCarousel .owl-nav span {
    font-size: 3rem;
  }
  section#unitsCarousel .owl-dots button {
    width: 7px;
    height: 7px;
  }
  #unitsCarousel .owl-nav button.owl-prev {
    left: 2px;
  }
  #unitsCarousel .owl-nav button.owl-next {
    right: 2px;
  }
  #amenities .item img {
    width: 60px;
  }
  #rental .rental {
    margin: 50px 0;
  }
  #rental .rental .paragraph p:last-child {
    font-size: 1.3rem;
    line-height: 20px;
  }
  #rental .rental .rentalImg .item:last-child img {
    margin-left: 2px;
  }
  #contacto .left p {
    font-size: 2.3rem;
  }
  .footer > div {
    margin-bottom: 80px;
  }
  .footer img {
    height: 20px;
  }
}

/*----------------------animations----------------------*/

@-webkit-keyframes bannerText {
  from {
    left: -200px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

#bannerText {
  position: relative;
  -webkit-animation-name: bannerText;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
}

@-webkit-keyframes bannerBtn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#bannerBtn {
  position: relative;
  -webkit-animation-name: bannerBtn;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
}

@keyframes brickBtn {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  90% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  91% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  92% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  93% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  94% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  95% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  96% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  97% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  98% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  99% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
